# **Group 3: Ang, Depasucat, Padilla, Yee**

***

##  **Dataset Description**

### Description of the Dataset

The dataset used in this project is Dataset #1, titled Family Income and Expenditure Survey 2012 Vol 1, and can be accessed via this link ([Family Income and Expenditure Survey 2012 Vol 1](https://psada.psa.gov.ph/catalog/38/get-microdata)).

This dataset was collected through a sample survey aimed at providing income and expenditure data for the country and its 17 regions. It includes information on sources of income (both in cash and in kind) and levels of consumption by expenditure item. The dataset serves as a key source of information on human development, offering insights for government policies and programs aimed at improving the socio-economic well-being of Filipino families.

###  Collection Process

The 2012 Family Income and Expenditure Survey (FIES) is a survey sample that aims to gather income and expenditure information for the Philippines and its seventeen regions. Data was gathered in two separate periods, in July 2012 and January 2013, by conducting in-person interviews with around 50,000 households. Enumerators were given thorough training and supervision to guarantee the accuracy and completeness of the collected data. Supervisors carried out quality assessments, such as repeat interviews, to ensure precision. The gathered data was carefully reviewed and edited both manually and by machine, which included checks for completeness, validations for consistency, and macro edits using the FAME system. The survey attained an impressive 90.1% response rate, offering thorough socioeconomic information on family finances at national and regional levels.

### Implications

The face-to-face data collection in the 2012 Family Income and Expenditure Survey (FIES) prompted more responses, resulting in a 90.1% response rate and showing a low non-response bias. However, the presence of enumerators may unintentionally impact respondents' responses, particularly for sensitive financial data. Furthermore, the survey deliberately excludes institutional populations (e.g., dormitories, care homes, and prisons), focusing entirely on private households, as stated on page 2 of the documentation. Because of this exclusion bias, the survey may not fully represent certain population sections, thereby providing insufficient insights on income and expenditure patterns.

### Structure of the Dataset File

- The dataset contains 119 columns, each of which represents a specific variable associated to individual households. Each row in the dataset represents a household that participated in the survey. The dataset contains information about expenditures, housing characteristics, social protection, income, other revenues, and entrepreneurial activity.

- The dataset contains 40,171 observations and 119 variables.

- Variables:

| **Name**                  | **Label**                                                                                                            |
|:---------------------:|:--------------------------------------------------------------------------------------------------------------:|
| w_regn                | Region                                                                                                         |
| w_oid                 | Other ID                                                                                                      |
| w_shsn                | Sample Household Serial Number                                                                                 |
| w_hcn                 | Household Control Number                                                                                       |
| psu                   | Psu (Recode)                                                                                                  |
| urb                   | Urban/Rural                                                                                                   |
| rstr                  | Stratum (Recode)                                                                                              |
| bweight               | Base Weight                                                                                                   |
| rfact                 | Final Weight                                                                                                  |
| fsize                 | Family Size                                                                                                   |
| agri_sal              | Salaries/Wages from Agricultural Activity                                                                     |
| nonagri_sal          | Salaries/Wages from Non-Agricultural Activity                                                                 |
| wages                 | Salaries/Wages from both Agri and Non-Agri Activities                                                         |
| netshare              | Net Share of Crops, Fruits and Vegetables Produced, Aquaculture Products Harvested, or Livestock and Poultry Raised by Other Households (Tot. Net Value of Share) |
| cash_abroad           | Cash Receipts, Support, Relief and Other Forms of Assistance from Abroad                                       |
| cash_domestic         | Cash Receipts, Support, Assistance and Relief from Domestic Source                                            |
| rentals_rec           | Rentals Received from Non-Agri Lands, Buildings, Spaces and Other Properties                                  |
| interest              | Interest                                                                                                       |
| pension               | Pension and Retirement Benefits                                                                                 |
| dividends             | Dividends from Investment                                                                                     |
| other_source          | Other Sources of Income NEC                                                                                    |
| net_receipt           | Family Sustenance Activities                                                                                    |
| regft                 | Total Received as Gifts                                                                                        |
| net_cfg               | Crop Farming and Gardening                                                                                     |
| net_lpr               | Livestock and Poultry Raising                                                                                 |
| net_fish              | Fishing                                                                                                        |
| net_for               | Forestry and Hunting                                                                                           |
| net_ret               | Wholesale and Retail                                                                                           |
| net_mfg               | Manufacturing                                                                                                  |
| net_com               | Community, Social, Recreational and Personal Services                                                         |
| net_trans             | Transportation, Storage, and Communication Services                                                           |
| net_min               | Mining and Quarrying                                                                                           |
| net_cons              | Construction                                                                                                   |
| net_nec               | Entrep. Activities NEC                                                                                        |
| eainc                 | Total Income from Entrepreneurial Activities                                                                    |
| toinc                 | Total Income                                                                                                   |
| losses                | Losses from EA                                                                                                |
| t_bread               | Bread and Cereal (Total)                                                                                      |
| t_meat                | Meat (Total)                                                                                                  |
| t_fish                | Fish and Seafood (Total)                                                                                      |
| t_milk                | Milk, Cheese and Eggs (Total)                                                                                 |
| t_oil                 | Oils and Fats (Total)                                                                                         |
| t_fruit               | Fruits (Total)                                                                                                 |
| t_veg                 | Vegetables (Total)                                                                                             |
| t_food_nec           | Food Not Elsewhere Classified (Total)                                                                          |
| t_sugar               | Sugar, Jam, Honey, Chocolate and confectionery (Total)                                                       |
| t_coffee              | Coffee, Cocoa and Tea (Total)                                                                                 |
| t_mineral            | Mineral water, soft drinks, fruit and vegetable juices (Total)                                                |
| t_alcohol             | Alcoholic Beverages (Total)                                                                                   |
| t_tobacco             | Tobacco (Total)                                                                                               |
| t_other_veg          | Other Vegetables-based products (Total)                                                                       |
| t_food_home          | Total Food Consumed at Home (Total)                                                                           |
| t_food_outside       | Food Regularly Consumed Outside The Home (Total)                                                              |
| t_food               | Total Food Expenditures                                                                                        |
| t_cloth              | Clothing and Footwear (Total)                                                                                 |
| t_furnishing         | Furnishings, Household equipment and routine household maintenance (Total)                                     |
| t_health             | Health (Total)                                                                                                |
| t_housing_water      | Housing and water (Total)                                                                                     |
| t_actrent            | Actual House Rent                                                                                             |
| t_rentval            | House Rent/Rental Value                                                                                        |
| t_imputed_rent       | Imputed House Rental Value                                                                                     |
| t_bimputed_rent      | Imputed Housing Benefit Rental Value                                                                           |
| t_transport          | Transport (Total)                                                                                             |
| t_communication      | Communication (Total)                                                                                         |
| t_recreation         | Recreation and culture (Total)                                                                                 |
| t_education          | Education (Total)                                                                                              |
| t_miscellaneous      | Miscellaneous Goods and Services (Total)                                                                      |
| t_other_expenditure   | Other Expenditure (inc. Value Consumed, Losses)                                                              |
| t_other_disbursement  | Other Disbursements                                                                                            |
| t_nfood              | Total Non-Food Expenditure                                                                                     |
| t_totex             | Total Expenditure                                                                                              |
| t_totdis            | Total Disbursements                                                                                           |
| t_othrec            | Total Other Receipts                                                                                           |
| t_torec             | Total Receipts                                                                                                |
| food_accom_srvc      | Food Regularly Consumed Outside The Home - Accommodation Services                                             |
| sex                  | Household Head Sex (2nd visit only)                                                                           |
| age                  | Household Head Age (2nd visit only)                                                                           |
| ms                   | Household Head Marital Status (2nd visit only)                                                                |
| hgc                  | Household Head Highest Grade Completed (2nd visit only)                                                       |
| job                  | Household Head Job or Business Indicator (2nd visit only)                                                    |
| occup                | Household Head Occupation (2nd visit only)                                                                    |
| kb                   | Household Head Kind of Business/Industry (2nd visit only)                                                   |
| cw                   | Household Head Class of Worker (2nd visit only)                                                               |
| hhtype               | Type of Household (2nd visit only)                                                                            |
| members              | Total Number of Family members (2nd visit only)                                                               |
| ageless5             | Members with age less than 5 year old (2nd visit only)                                                      |
| age5_17             | Members with age 5 - 17 years old (2nd visit only)                                                           |
| employed_pay         | Total number of family members employed for pay (2nd visit only)                                             |
| employed_prof        | Total number of family members employed for profit (2nd visit only)                                           |
| spouse_emp           | Spouse has job/business (2nd visit only)                                                                      |
| bldg_type            | Type of Building/House (2nd visit only)                                                                      |
| roof                 | Type of Roof (2nd visit only)                                                                                 |
| walls                | Type of Walls (2nd visit only)                                                                                |
| tenure               | Tenure Status (2nd visit only)                                                                                |
| hse_altertn          | House Alteration                                                                                               |
| toilet               | Toilet Facilities (2nd visit only)                                                                           |
| electric             | Electricity Indicator (2nd visit only)                                                                        |
| water                | Main Source of Water Supply (2nd visit only)                                                                  |
| distance             | Distance of Water Source from the House (2nd visit only)                                                     |
| radio_qty            | Number of Radios (2nd visit only)                                                                             |
| tv_qty               | Number of Television (2nd visit only)                                                                         |
| cd_qty               | Number of CD/VCD/DVD (2nd visit only)                                                                         |
| stereo_qty           | Number of Component/Stereo set (2nd visit only)                                                               |
| ref_qty              | Number of Refrigerator/Freezer (2nd visit only)                                                               |
| wash_qty             | Number of Washing Machine (2nd visit only)                                                                    |
| aircon_qty           | Number of Air Conditioner (2nd visit only)                                                                    |
| car_qty              | Number of Car, Jeep, Van (2nd visit only)                                                                     |
| landline_qty         | Number of Landline/wireless telephones (2nd visit only)                                                      |
| cellphone_qty        | Number of Cellular phone (2nd visit only)                                                                    |
| pc_qty               | Number of Personal Computer (2nd visit only)                                                                  |
| oven_qty             | Number of Stove with Oven/Gas Range (2nd visit only)                                                         |
| motor_banca_qty      | Number of Motorized Banca (2nd visit only)                                                                   |
| motorcycle_qty       | Number of Motorcycle/Tricycle (2nd visit only)                                                               |
| pop_adj              | Population Adjustment                                                                                          |
| pcinc                | Per Capita Income                                                                                             |
| natpc                | National per capita income decile                                                                              |
| natdc                | National Income decile                                                                                         |
| regdc                | Regional Income decile                                                                                         |
| regpc                | Regional per capita income decile                                                                              |

***

## **Data Cleaning**

### Import

In [134]:
import numpy as np
import pandas as pd

### Reading the Dataset

In [192]:
FIES_df = pd.read_csv('FIES PUF 2012 Vol.1.CSV')
FIES_df.info()
subset = ['FSIZE', 'WAGES', 'TOINC', 'T_FOOD', 'T_CLOTH', 'T_FURNISHING', 'T_HEALTH', 'T_HOUSING_WATER', 'T_TRANSPORT', 'T_COMMUNICATION', 'T_RECREATION', 'T_EDUCATION', 
        'T_MISCELLANEOUS', 'T_OTHER_EXPENDITURE', 'T_OTHER_DISBURSEMENT', 'T_NFOOD', 'T_TOTEX', 'T_TOTDIS', 'T_OTHREC', 'T_TOREC', 'JOB', 'OCCUP', 'MEMBERS', 'AGELESS5', 
        'AGE5_17', 'EMPLOYED_PAY', 'EMPLOYED_PROF']
FIES_df[subset].isnull().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40171 entries, 0 to 40170
Columns: 119 entries, W_REGN to REGPC
dtypes: float64(5), int64(92), object(22)
memory usage: 36.5+ MB

FSIZE                   False
WAGES                   False
TOINC                   False
T_FOOD                  False
T_CLOTH                 False
T_FURNISHING            False
T_HEALTH                False
T_HOUSING_WATER         False
T_TRANSPORT             False
T_COMMUNICATION         False
T_RECREATION            False
T_EDUCATION             False
T_MISCELLANEOUS         False
T_OTHER_EXPENDITURE     False
T_OTHER_DISBURSEMENT    False
T_NFOOD                 False
T_TOTEX                 False
T_TOTDIS                False
T_OTHREC                False
T_TOREC                 False
JOB                     False
OCCUP                   False
MEMBERS                 False
AGELESS5                False
AGE5_17                 False
EMPLOYED_PAY            False
EMPLOYED_PROF           False
dtype: bool

In [164]:
duplicates = FIES_df.duplicated()

duplicate_rows = FIES_df[duplicates]
duplicate_rows

Empty DataFrame
Columns: [W_REGN, W_OID, W_SHSN, W_HCN, URB, RSTR, PSU, BWEIGHT, RFACT, FSIZE, AGRI_SAL, NONAGRI_SAL, WAGES, NETSHARE, CASH_ABROAD, CASH_DOMESTIC, RENTALS_REC, INTEREST, PENSION, DIVIDENDS, OTHER_SOURCE, NET_RECEIPT, REGFT, NET_CFG, NET_LPR, NET_FISH, NET_FOR, NET_RET, NET_MFG, NET_COM, NET_TRANS, NET_MIN, NET_CONS, NET_NEC, EAINC, TOINC, LOSSES, T_BREAD, T_MEAT, T_FISH, T_MILK, T_OIL, T_FRUIT, T_VEG, T_SUGAR, T_FOOD_NEC, T_COFFEE, T_MINERAL, T_ALCOHOL, T_TOBACCO, T_OTHER_VEG, T_FOOD_HOME, T_FOOD_OUTSIDE, T_FOOD, T_CLOTH, T_FURNISHING, T_HEALTH, T_HOUSING_WATER, T_ACTRENT, T_RENTVAL, T_IMPUTED_RENT, T_BIMPUTED_RENT, T_TRANSPORT, T_COMMUNICATION, T_RECREATION, T_EDUCATION, T_MISCELLANEOUS, T_OTHER_EXPENDITURE, T_OTHER_DISBURSEMENT, T_NFOOD, T_TOTEX, T_TOTDIS, T_OTHREC, T_TOREC, FOOD_ACCOM_SRVC, SEX, AGE, MS, HGC, JOB, OCCUP, KB, CW, HHTYPE, MEMBERS, AGELESS5, AGE5_17, EMPLOYED_PAY, EMPLOYED_PROF, SPOUSE_EMP, BLDG_TYPE, ROOF, WALLS, TENURE, HSE_ALTERTN, TOILET, ELECTRIC, WATER, DISTANCE, RADIO_QTY, ...]
Index: []

[0 rows x 119 columns]

In [191]:
FIES_df['FSIZE'].unique()
FIES_df['FSIZE'].value_counts()
FIES_df['FSIZE'] = FIES_df['FSIZE'].replace({1.5 : 2.0, 2.5 : 3.0, 3.5 : 4.0, 4.5 : 5.0, 5.5 : 6.0, 6.5 : 7.0, 7.5 : 8.0, 8.5 : 9.0, 9.5 : 10.0, 10.5 : 11.0, 11.5 : 12.0, 
                                             12.5 : 13.0, 13.5 : 14.0, 14.5 : 15.0, 16.5 : 17.0, 17.5 : 18.0, 18.5 : 19.0, 19.5 : 20, 20.5: 21})
FIES_df['FSIZE'].value_counts()

FSIZE
4.0     7551
5.0     7309
3.0     5854
6.0     5564
2.0     3959
7.0     3568
8.0     2124
1.0     1849
9.0     1157
10.0     615
11.0     311
12.0     138
13.0      88
14.0      42
15.0      22
15.5       5
18.0       4
17.0       3
16.0       3
20.0       2
19.0       2
21.0       1
Name: count, dtype: int64

In [166]:
FIES_df['WAGES'].unique()
FIES_df['WAGES'].value_counts()

WAGES
0         9188
18000      144
12000      140
39000      127
36000      123
          ...
945800       1
672022       1
12360        1
112600       1
127930       1
Name: count, Length: 15098, dtype: int64

In [167]:
FIES_df['TOINC'].unique()
FIES_df['TOINC'].value_counts()

TOINC
168000    7
88400     5
94000     5
145000    5
109920    4
         ..
97386     1
129320    1
114824    1
154925    1
287600    1
Name: count, Length: 37235, dtype: int64

In [168]:
FIES_df['T_FOOD'].unique()
FIES_df['T_FOOD'].value_counts()

T_FOOD
83482     5
60584     5
46766     5
45220     5
41548     5
         ..
53694     1
126996    1
111233    1
113179    1
65629     1
Name: count, Length: 34433, dtype: int64

In [169]:
FIES_df['T_CLOTH'].unique()
FIES_df['T_CLOTH'].value_counts()

T_CLOTH
0        691
600      108
300      106
1000     104
500      102
        ...
45005      1
7261       1
12973      1
3093       1
4643       1
Name: count, Length: 9283, dtype: int64

In [170]:
FIES_df['T_FURNISHING'].unique()
FIES_df['T_FURNISHING'].value_counts()

T_FURNISHING
0        65
1068     41
780      34
912      33
900      32
         ..
19561     1
34366     1
14012     1
3784      1
13859     1
Name: count, Length: 10377, dtype: int64

In [171]:
FIES_df['T_HEALTH'].unique()
FIES_df['T_HEALTH'].value_counts()

T_HEALTH
0        1971
100       331
50        293
150       219
60        206
         ...
10160       1
30560       1
14500       1
24640       1
27953       1
Name: count, Length: 10837, dtype: int64

In [172]:
FIES_df['T_HOUSING_WATER'].unique()
FIES_df['T_HOUSING_WATER'].value_counts()

T_HOUSING_WATER
10200     58
9120      47
10800     46
9300      46
9900      45
          ..
105264     1
71334      1
61302      1
63228      1
111906     1
Name: count, Length: 12593, dtype: int64

In [173]:
FIES_df['T_TRANSPORT'].unique()
FIES_df['T_TRANSPORT'].value_counts()

T_TRANSPORT
0         638
1200      312
720       289
960       287
1440      258
         ...
41502       1
92262       1
29808       1
174660      1
25266       1
Name: count, Length: 7600, dtype: int64

In [175]:
FIES_df['T_COMMUNICATION'].unique()
FIES_df['T_COMMUNICATION'].value_counts()

T_COMMUNICATION
0        5989
360       677
720       582
180       538
1080      504
         ...
48120       1
23034       1
18834       1
18264       1
40140       1
Name: count, Length: 3805, dtype: int64

In [174]:
FIES_df['T_RECREATION'].unique()
FIES_df['T_RECREATION'].value_counts()

T_RECREATION
0        7472
300       211
200       197
100       188
500       166
         ...
30653       1
2702        1
9134        1
2041        1
4414        1
Name: count, Length: 6954, dtype: int64

In [176]:
FIES_df['T_EDUCATION'].unique()
FIES_df['T_EDUCATION'].value_counts()

T_EDUCATION
0        12781
300        391
500        344
600        300
200        295
         ...
19155        1
6077         1
15330        1
12847        1
15796        1
Name: count, Length: 6578, dtype: int64

In [177]:
FIES_df['T_MISCELLANEOUS'].unique()
FIES_df['T_MISCELLANEOUS'].value_counts()

T_MISCELLANEOUS
2340     46
3240     43
3096     43
2736     42
2928     41
         ..
24762     1
40272     1
40062     1
25872     1
49014     1
Name: count, Length: 7386, dtype: int64

In [178]:
FIES_df['T_OTHER_EXPENDITURE'].unique()
FIES_df['T_OTHER_EXPENDITURE'].value_counts()

T_OTHER_EXPENDITURE
0        6314
100       745
200       667
300       614
500       556
         ...
12354       1
24120       1
19380       1
60172       1
14550       1
Name: count, Length: 7653, dtype: int64

In [179]:
FIES_df['T_OTHER_DISBURSEMENT'].unique()
FIES_df['T_OTHER_DISBURSEMENT'].value_counts()

T_OTHER_DISBURSEMENT
0         21146
5000        504
600         466
10000       455
2000        410
          ...
84144         1
95324         1
127866        1
109960        1
441272        1
Name: count, Length: 7477, dtype: int64

In [180]:
FIES_df['T_NFOOD'].unique()
FIES_df['T_NFOOD'].value_counts()

T_NFOOD
34909    5
46862    5
20003    5
47833    5
40195    5
        ..
45803    1
52849    1
24507    1
54585    1
38278    1
Name: count, Length: 35202, dtype: int64

In [181]:
FIES_df['T_TOTEX'].unique()
FIES_df['T_TOTEX'].value_counts()

T_TOTEX
104301    4
104668    4
68741     4
116161    4
64266     4
         ..
120935    1
184093    1
144256    1
167764    1
246625    1
Name: count, Length: 37450, dtype: int64

In [182]:
FIES_df['T_TOTDIS'].unique()
FIES_df['T_TOTDIS'].value_counts()

T_TOTDIS
48575     4
80579     4
104668    4
116161    4
74272     4
         ..
127627    1
137061    1
213321    1
89325     1
151093    1
Name: count, Length: 37631, dtype: int64

In [183]:
FIES_df['T_OTHREC'].unique()
FIES_df['T_OTHREC'].value_counts()

T_OTHREC
0         18412
5000       1060
10000       801
3000        661
2000        545
          ...
4848          1
13108         1
16820         1
15050         1
465962        1
Name: count, Length: 6505, dtype: int64

In [184]:
FIES_df['T_TOREC'].unique()
FIES_df['T_TOREC'].value_counts()

T_TOREC
168000    6
116720    5
138860    5
82520     4
146500    4
         ..
97386     1
155508    1
139320    1
199925    1
110166    1
Name: count, Length: 37456, dtype: int64

In [185]:
FIES_df['JOB'].unique()
FIES_df['JOB'].value_counts()

JOB
1    32797
2     7374
Name: count, dtype: int64

In [186]:
FIES_df['OCCUP'].unique()
FIES_df['OCCUP'].value_counts()

OCCUP
        7374
9211    3507
6111    3143
1314    1942
6112    1745
        ...
7134       1
3224       1
5111       1
1144       1
2443       1
Name: count, Length: 380, dtype: int64

In [187]:
FIES_df['MEMBERS'].unique()
FIES_df['MEMBERS'].value_counts()

MEMBERS
4     7532
5     6987
3     6106
6     5176
2     4449
7     3347
1     2287
8     1962
9     1084
10     602
11     304
12     157
13      85
14      44
15      26
16       7
17       5
18       4
20       3
19       2
23       1
22       1
Name: count, dtype: int64

In [196]:
FIES_df['AGELESS5'].unique()
#FIES_df['AGELESS5'] = FIES_df['AGELESS5'].replace({ "  " : "00"})
FIES_df['AGELESS5'].value_counts()

AGELESS5
      15361
00    11565
01     9403
02     3182
03      561
04       74
05       20
07        2
10        1
06        1
08        1
Name: count, dtype: int64

In [197]:
FIES_df['AGE5_17'].unique()
#FIES_df['AGE5_17'] = FIES_df['AGE5_17'].replace({ "  " : "00"})
FIES_df['AGE5_17'].value_counts()

AGE5_17
01    9568
      8237
02    7801
00    6014
03    4746
04    2395
05     955
06     327
07      91
08      21
09       8
10       3
14       2
13       1
11       1
12       1
Name: count, dtype: int64

In [200]:
FIES_df['EMPLOYED_PAY'].unique()    
#FIES_df['EMPLOYED_PAY'] = FIES_df['AGELESS5'].replace({ "  " : "00"})
FIES_df['AGE5_17'].value_counts()

array(['  ', '01', '03', '02', '04', '05', '00', '06', '07', '08', '09'],
      dtype=object)

In [203]:
FIES_df['EMPLOYED_PROF'].unique()
#FIES_df['EMPLOYED_PROF'] = FIES_df['AGELESS5'].replace({ "  " : "00"})
FIES_df['AGE5_17'].value_counts()

array(['  ', '01', '02', '04', '03', '00', '06', '05', '08', '07', '10'],
      dtype=object)